extends layout

block content
  canvas#viewport(width='1050', height='800')
  #textPanel(style='width:25%; height: 100%;')
    #topInfo(style='width:100%; height:25%')
      | APPLICATION DIAGRAM 
      br
      br
      |       To see the node information right click it.
      br
      br
      |       To expand an application node double click on it. Expanded nodes are indicated by an orange border. 
      br
      br
      |       To remove an expanded applicaton node double click it.
      br
      |  NOTES: Nodes can be dragged. Red nodes cannot be removed.
    #nodeInfo(style='width:100%; height: 15%;')
      #nameDiv(style='width:100%; height:25%')
        #name(style='float:left; width:auto;')
          | Name:
        #nodeName1(style='float:left; width:auto;')
      #descriptionDiv(style='width:100%; height:75%')
        #description(style='float:left; width:auto;')
          | Description:
        #nodeDescription(style='float:left; width:auto;')
    #input_key(style='width:100%; height:60%;')
      input#input(type='text', style='width:100%; height:10%', placeholder='Enter commands here')
      button(name='enter_button', onclick='generate()', type='button') Generate
      button(name='clear_button', onclick='removed()', type='button') Remove
      #key(style='width:100%; height:90%;')
        br
        |  To generate or remove application nodes you can type the node's name and click the appropriate button.
        br
        |  To generate or remove server nodes for a specific application, type the applications's name followed by the server type(production or non-production). Then click the appropriate button. Example: AX production
        br
        br
        |  Server Color key:
        br
        |  Application: green, Database: purple, Web: brown, Cloud: light blue.
        br
        br
        | To generate an edge's label type source_target.
        br
        | Example:Vision_AX
        br
        br
        | ADDITIONAL COMMANDS
        br
        | Generate Button Commands:
        br
        |  -generate all applications
        br
        | -generate all edge labels 
        br
        |  Remove Button Commands:
        br
        |  -remove all applications


