doctype html
html
    head
        title= Application
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/arbor.js')
        script(src='/javascripts/renderer.js')
        script(src='/javascripts/graphics.js')
        script(src='/javascripts/global.js')