body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#textPanel{
  position:absolute;
  right:0px;
  top:0;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

#intro{
  position:absolute;
  right:0px;
  top:0%;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

h1 {
    display: block;
    font-size: 1.9em;
    margin-top: 0.10em;
    margin-bottom: 0.10em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#generalInfoTitle{
  font-weight: bold;
}

#nodeInfo{
  position:absolute;
  right:0px;
  top:25%;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

#name{
  font-weight: bold;
}

#description{
  font-weight: bold;
}

#input_instructions{
  position:absolute;
  right:0px;
  top:40%;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}
#buttonTitle{
  font-weight: bold;
}

#serverKeyTitle{
  font-weight: bold;
}

#additionalCommandsTitle{
  font-weight: bold;
}
